.App {
  text-align: center;
  background-color: rgb(229, 247, 242);
}

.header-text{
  color: rgb(85, 89, 88);
  font-family: 'Allison', cursive;
  font-size: 100px;
  text-align: center;
  margin-bottom: -10px;
}

.App-header {
  font-size: calc(15px + 2vmin);
  color: rgb(229, 247, 242);
  margin-top: -50px;
}

body{
  background-color: rgb(229, 247, 242);
}

.App-link {
  color: #61dafb;
}


.weatherParent{
  float: right;
  width: 45%;
  font-family: 'Archivo Narrow', sans-serif;
  
}
.flightParent{
  float: right;
  width: 45%;
  font-family: 'Archivo Narrow', sans-serif;
}

.flightParent h1{
  color: rgb(50, 232, 189)
}

.hotelParent{
  font-family: 'Archivo Narrow', sans-serif;
  max-height: 400px;
  overflow-y: scroll;
}

.hotelTitle{
  color: rgb(50, 232, 189);
  font-family: 'Archivo Narrow', sans-serif;
}

.weatherTitle{
  font-size: xx-large;
  color: rgb(50, 232, 189)
}

.justCity{
  float: left;
  width: 50%;
  background-color: rgb(229, 247, 242);
}
.overView{
  background-color:rgb(229, 247, 242);
  float: left;
  width: 100%;
}

.cityTitleFont{
  color: rgb(50, 232, 189);
  font-size: 1cm;
  padding-top: 0%;
  width: 100%;
  vertical-align: top;
  font-family: 'Archivo Narrow', sans-serif;

}
.cityPicture{
  vertical-align: bottom;
  width: 100%;
  border-radius: 10px;
}

.image-edit{
  border-radius: 10px;
}

#flightsLink{
  margin-right: 10pt;
  font-family: 'Archivo Narrow', sans-serif;
  
}
#weatherLink{
  margin-right: 10pt;
  font-family: 'Archivo Narrow', sans-serif;
}

#eventsLink{
  margin-right: 10pt;
  font-family: 'Archivo Narrow', sans-serif;
}