.App {
  text-align: center;
  background-color: antiquewhite;
}



.App-header {
  background-color: #9ad0bc;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(229, 247, 242);
  
}

.App-link {
  color: #61dafb;
}


.weatherParent{
  float: right;
  width: 45%;
  height: 550pt;
  
}
.flightParent{
  float: right;
  width: 45%;
  height: 550pt;
 
  
}
.weatherTitle{
  font-size: xx-large;
  color: black;
}
.justCity{
  float: left;
  width: 50%;
  background-color: rgb(189, 189, 114);
  height: 550pt;
}
.overView{
  background-color:beige;
  float: left;
  width: 100%;
  height: 550pt;
  padding-top: 0%;
}

.cityTitleFont{
  color: rgba(237, 236, 232, 0.977);
  font-size: 2cm;
  padding-top: 0%;
  width: 100%;
  vertical-align: top;

}
.cityPicture{
  vertical-align: bottom;
  width: 100%;
}

#flightsLink{
  margin-right: 10pt;
  
}
#weatherLink{
  margin-right: 10pt;
}

#eventsLink{
  margin-right: 10pt;
}