.weatherParent{
    background-color: azure;
    padding: 2%;
    color: black;
   
    margin-left: 500pt;
    margin-top: 0pt;
    box-sizing: content-box;
    block-size: 250pt;
    width: 380px;;
    
}
.weatherTitle{
    font-size: xx-large;
    color: black;
}